<div class="w-full flex flex-col items-center pt-6">
    <div class="w-auto border-solid border-2 border-slate-500 p-5">
        <div class="ingreso__datos">
            <div class="pb-4">
                <label class="pr-2">Ingrese primer valor</label>
                <input class="border-2 border-slate-500 rounded-sd pl-1" type="number">
            </div>
            <div>
                <label class="pr-2">Ingrese segundo valor</label>
                <input class="border-2 border-slate-500 rounded-sd pl-1" type="number">
            </div>
        </div>
        <div class="py-4">
            <select class="border-2 border-slate-500 rounded-md">
                <option value="ninguna">Elija una opción</option>
                <option value="suma">Sumar</option>
                <option value="resta">Restar</option>
                <option value="multiplicacion">Multiplicar</option>
                <option value="division">Dividir</option>
            </select>
        </div>
        <div class="resultado">
            <p>Resultado: </p>
        </div>
    </div>
</div>