<div class="w-full flex flex-col items-center pt-6">
    <div class="w-auto border-solid border-2 border-slate-500 rounded-md p-5 principal">
        <h1 class="text-center pb-5 text-2xl font-bold">OPERACIONES</h1>
        <div class="ingreso__datos">
            <div class="pb-4">
                <label class="pr-2">Ingrese primer valor</label>
                <input class="border-2 border-slate-500 rounded-sd pl-1" type="number" [(ngModel)]="valor1">
            </div>
            <div>
                <label class="pr-2">Ingrese segundo valor</label>
                <input class="border-2 border-slate-500 rounded-sd pl-1" type="number" [(ngModel)]="valor2">
            </div>
        </div>
        <div class="py-4">
            <select class="border-2 border-slate-500 rounded-md" [(ngModel)]="operacion">
                <option value="ninguna">Elija una opción</option>
                <option value="suma">Sumar</option>
                <option value="resta">Restar</option>
                <option value="multiplicacion">Multiplicar</option>
                <option value="division">Dividir</option>
            </select>
        </div>
        <div class="resultado">
            <p>
                <span [ngSwitch]="operacion">
                    <div [ngStyle]="{'color':'blue'}">
                        <span *ngSwitchCase="'suma'">Resultado: {{valor1+valor2}}</span>
                    </div>
                    <div [ngStyle]="{'color':'darkorange'}">
                        <span *ngSwitchCase="'resta'">Resultado: {{valor1-valor2}}</span>
                    </div>
                    <div [ngStyle]="{'color':'fuchsia'}">
                        <span *ngSwitchCase="'multiplicacion'">Resultado: {{valor1*valor2}}</span>
                    </div>
                    <div [ngStyle]="{'color':'lightseagreen'}">
                        <span *ngSwitchCase="'division'"> Resultado: {{valor1/valor2}}</span>
                    </div>
                    <div [ngStyle]="{'color':'red'}">
                        <span *ngSwitchDefault>Resultado: (No eligió operación)</span>
                    </div>
                </span>
            </p>
        </div>
    </div>
</div>